<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a [routerLink]="['/home']">Home</a></li>

  <li role="presentation">
    <a>Parâmetros</a>
    <ul>
        <li role="presentation"><a [routerLink]="['/user']">Usuário</a></li>
    </ul>
  </li>

  <li role="presentation"><a [routerLink]="['/info']">Sobre</a></li>
</ul>