<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <h4><small>{{ titlePage }}</small></h4>
            <hr>

            <div>
                <form id="form1" name="form1" #form="ngForm" (ngSubmit)="save()"> 
                    
                    <label>E-Mail:
                        <input type="text" maxlength="255" class="form-control" id="email" name="email" [(ngModel)]="externalUser.email">
                    </label><br/><br/>

                    <label>Nome:
                        <input type="text" maxlength="60"  class="form-control" id="name" name="name" [(ngModel)]="externalUser.name">
                    </label><br/><br/>

                    <label>Cpf:
                        <input type="text" maxlength="11" class="form-control" id="cpf" name="cpf" [(ngModel)]="externalUser.cpf">
                    </label><br/><br/>

                    <label>Telefone:
                        <input type="text" maxlength="11" class="form-control" id="phone" name="phone" [(ngModel)]="externalUser.phone">
                    </label><br/><br/>

                    <label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Função:</label>
                            </div>
                            <!-- <select [(ngModelOptions)]="externalUser.functionCode" name="functionCode" class="custom-select">
                                    <option></option>
                                <option *ngFor="let externalUserFunction of externalUserFunctions" [ngValue]="externalUserFunction.code">
                                    {{externalUserFunction.function}}
                                </option>
                            </select> -->
                        </div>
                    </label><br/><br/>

                    <label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Perfil:</label>
                            </div>
                            <select [(ngModel)]="externalUser.accessProfile" class="custom-select">
                                <option *ngFor="let accessProfile of accessProfiles" [value]="accessProfile.ordinal">
                                    {{accessProfile.description}}
                                </option>
                            </select>
                        </div>
                    </label><br/><br/>
                    
                    <label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Ativo/Inativo:</label>
                            </div>
                            <select [(ngModel)]="externalUser.situation" class="custom-select" id="inputGroupSelect01">
                                <option [ngValue]="A">Ativo</option>
                                <option [ngValue]="I">Inativo</option>
                            </select>
                        </div>
                    </label><br/><br/>
                    
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button (click)="cancel();" type="button" class="btn btn-primary">Cancelar</button>
                </form>
            </div>

            
        </div>
    </div>
</div>
  