<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-9">
      <h4><small>Listar Usuário</small></h4>
      <hr>

      <button (click)="include();" type="button" class="btn btn-primary">Incluir</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Nome</th>
            <th scope="col">Perfil</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let user of externalUsers; let i = index;">
            <td>{{ user.email }}</td>        
            <td>{{ user.name }}</td>        
            
            <td>{{ user.externalUserFunctionDto.function}}</td>
            <td *ngIf="user.situation == 'A'">Ativo</td>
            <td *ngIf="user.situation == 'I'">Inativo</td>
            <td>
              <a (click)="edit(user.cpf);" >Editar</a>
              <a (click)="remove(user.cpf);" style="margin-left: 5px;">Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
